<%- include('../partials/header') %>
  <% series.seasons.forEach((season) => { %>
    <% if (season.season_number !== 0) { %>
      <h3>Season <%= season.season_number %>:</h3>
      <% for (let i = 0; i < season.episode_count; i++) { %>
        <a href="">Episode <%= i %></a>
      <% } %>
    <% } %>
  <% }) %>
<%- include('../partials/footer') %>