<%- include('./partials/header') %>
    <p>Welcome to <%= title %>!</p>
    <p>Keep track of the TV shows you're watching.</p>
    <p>To get started, <a href="/search">Find a Show</a>.</p>
<%- include('./partials/footer') %>