:root {
  --text-color: #252627;
  --bg-color: #f2efe9;
  --accent-color-1: #904e55;
  --accent-color-2: #564e58;
  --accent-color-3: #548687; 
}

body {
  margin: 0;
  font-family: 'Comfortaa', Helvetica, Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 40px;
  background-color: var(--text-color);
  border-bottom: 2px solid var(--accent-color-1);
}


h1 {
  font-size: 8vmin;
  color: var(--accent-color-1)
}

a, a:visited {
  color: var(--accent-color-1);
}

a:hover {
  color: var(--accent-color-3);
}

.search-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  
}

.search-preview {
  display: flex;
  flex-flow: column wrap;
  margin: 50px;
  width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  background-color: var(--accent-color-2);
  color: var(--bg-color);
  margin: 20px;
  padding: 20px;
  border: 5px solid var(--accent-color-1);
  border-radius: 20px;
}

.thumbnail {
  width: 300px;
}

.series-container {
  display: flex;
  align-items: center;
  background-color: var(--accent-color-2);
  color: var(--bg-color);
  margin: 20px;
  padding: 20px;
  border: 5px solid var(--accent-color-1);
  border-radius: 20px;
  max-width: 90%;
}

.series-thumbnail {
  width: 200px;
  margin-right: 20px;
  border: 2px solid var(--bg-color);
  height: auto;
}

.episode-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-thumbnail {
  width: 90vw;
}

.summary {
  font-style: italic;
  font-size: 14px;
  margin: 3vw 8vw;
}

.episode-review {
  background-color: var(--accent-color-2);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 5px solid var(--accent-color-1);
  border-radius: 20px;
  min-width: 80vw;
}

.episode-review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode-review-form > textarea {
  width: 100%;
}

.unwatched {
  background-color: gray;
}

.watched-bad {
  background-color: red;
}

.watched-mid {
  background-color: yellow;
}

.watched-good {
  background-color: green;
  content: hidden;
}